@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Material Design for Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="~/css/mdb.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>

<body>
    <!-- Main content -->
    <div class="container py-5">
        <!-- Section: Summary -->
        <section class="mb-5">
            <div class="row gx-xl-5">
                <div class="col-xl-4 col-md-6 mb-4 mb-xl-0 p-xl-2">
                    <!-- Card -->
                    <div class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow-4-strong
                  rounded-6
                  text-reset
                  ripple
                  "
                       data-ripple-color="hsl(0, 0%, 75%)">
                        <div class="p-3 bg-theme rounded-4">
                            <i class="fas fa-box-open fa-lg text-white fa-fw"></i>
                        </div>

                        <div class="ms-4">
                            <p class="text-muted mb-2">Total Tomatoes</p>
                            <p class="mb-0">
                                <span class="h5 me-2">0</span>
                            </p>
                        </div>
                    </div>
                    <!-- Card -->
                </div>

                <div class="col-xl-4 col-md-6 mb-4 mb-xl-0 p-xl-2">
                    <!-- Card -->
                    <a class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow-4-strong
                  rounded-6
                  text-reset
                  ripple
                  "
                       href="#"
                       data-ripple-color="hsl(0, 0%, 75%)">
                        <div class="p-3 bg-theme rounded-4">
                            <i class="fas fa-apple-whole fa-lg text-white fa-fw"></i>
                        </div>

                        <div class="ms-4">
                            <p class="text-muted mb-2">Ripe</p>
                            <p class="mb-0">
                                <span class="h5 me-2">0</span>
                              
                            </p>
                        </div>
                    </a>
                    <!-- Card -->
                </div>

                <div class="col-xl-4 col-md-6 mb-4 mb-xl-0 p-xl-2">
                    <!-- Card -->
                    <a class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow-4-strong
                  rounded-6
                  text-reset
                  ripple
                  "
                       href="#"
                       data-ripple-color="hsl(0, 0%, 75%)">
                        <div class="p-3 bg-theme rounded-4">
                            <i class="fas fa-leaf fa-lg text-white fa-fw"></i>
                        </div>

                        <div class="ms-4">
                            <p class="text-muted mb-2">Half-Ripe</p>
                            <p class="mb-0">
                                <span class="h5 me-2">0</span>
                                
                            </p>
                        </div>
                    </a>
                    <!-- Card -->
                </div>

                <div class="col-xl-4 col-md-6 mb-4 mb-xl-0 p-xl-2">
                    <!-- Card -->
                    <a class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow-4-strong
                  rounded-6
                  text-reset
                  ripple
                  "
                       href="#"
                       data-ripple-color="hsl(0, 0%, 75%)">
                        <div class="p-3 bg-theme rounded-4">
                            <i class="fas fa-seedling fa-lg text-white fa-fw"></i>
                        </div>

                        <div class="ms-4">
                            <p class="text-muted mb-2">Unripe</p>
                            <p class="mb-0">
                                <span class="h5 me-2">0</span>
                                
                            </p>
                        </div>
                    </a>
                    <!-- Card -->
                </div>

                <div class="col-xl-4 col-md-6 mb-4 mb-xl-0 p-xl-2">
                    <!-- Card -->
                    <a class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow-4-strong
                  rounded-6
                  text-reset
                  ripple
                  "
                       href="#"
                       data-ripple-color="hsl(0, 0%, 75%)">
                        <div class="p-3 bg-theme rounded-4">
                            <i class="fas fa-dumpster fa-lg text-white fa-fw"></i>
                        </div>

                        <div class="ms-4">
                            <p class="text-muted mb-2">Defect</p>
                            <p class="mb-0">
                                <span class="h5 me-2">0</span>
                                
                            </p>
                        </div>
                    </a>
                    <!-- Card -->
                </div>

            
            </div>
        </section>

        <!-- Section: Summary -->
        <section class="">
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
                    <!-- Card -->
                    <div class="bg-glass shadow-4-strong rounded-6 h-100">
                        <!-- Card header -->
                        <div class="p-4 border-bottom">
                            <div class="row align-items-center">
                                <div class="col-6 mb-4 mb-md-0">
                                    <p class="text-muted mb-2">Users</p>
                                    <p class="mb-0">
                                        <span class="h5 me-2">0</span>
                                        
                                    </p>
                                </div>

                                <div class="col-6 mb-4 mb-md-0 text-end">
                                    <a class="btn btn-outline-white btn-rounded"
                                       href="#"
                                       role="button">Details</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card header -->
                        <!-- Card body -->
                        <div class="p-4">
                            <canvas id="line-chart" height="200px"></canvas>
                        </div>
                        <!-- Card body -->
                    </div>
                    <!-- Card -->
                </div>
            </div>
        </section>
        <!-- Section: Visualization -->
    </div>

    <script type="text/javascript"></script>
        <!-- Chart -->
        <script type="text/javascript">
            const ctxL = document.getElementById("line-chart").getContext("2d");
            const gradientFill = ctxL.createLinearGradient(0, 0, 0, 290);
            gradientFill.addColorStop(0, "hsla(218, 71%, 35%, 1)");
            gradientFill.addColorStop(1, "hsla(218, 41%, 35%, 0.2)");

            const dataLine = {
                type: "line",
                data: {
                    labels: [
                        "Monday",
                        "Tuesday",
                        "Wednesday",
                        "Thursday",
                        "Friday",
                        "Saturday",
                        "Sunday ",
                    ],
                    datasets: [
                        {
                            label: "Traffic",
                            data: [2112, 2343, 2545, 3423, 2365, 1985, 987],
                            backgroundColor: gradientFill,
                        },
                    ],
                },
            };

            const chartOptions = {
                options: {
                    legend: {
                        display: false,
                    },
                    scales: {
                        yAxes: [
                            {
                                ticks: {
                                    fontColor: "hsl(0, 0%, 80%)",
                                },
                            },
                        ],
                        xAxes: [
                            {
                                ticks: {
                                    fontColor: "hsl(0, 0%, 80%)",
                                },
                            },
                        ],
                    },
                },
            };
        new mdb.Chart(
            document.getElementById("line-chart"),
            dataLine,
            chartOptions
        );
     </script>

    <script type="text/javascript" src="~/js/mdb.umd.min.js"></script>
    <!-- Custom scripts -->
</body>
</html>